@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Croissant+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Metamorphous&family=Mina&family=Prosto+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noticia+Text&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
}

.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
}

.content {
    width: 100%;
    margin-right: 2rem;
}

.content>h1 {
    color: #ffb433;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 3.2rem;
}

.content>p {
    font-family: 'Lato', sans-serif;
    font-size: 1.8rem;
    margin-top: 1rem;
    color: #fff;

}

.imgContainer {
    width: 60vh;
    height: 59vh;
    border-radius: 2rem;
    overflow: hidden;
    /* background: #000; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgContainer>img {
    height: 58vh;
    width: inherit;
    border-radius: 2rem;
    margin: 5vh 0;
    transition: all 0.6s ease;
}

.imgContainer:hover img {
    scale: 1.1;
}

.educationContainer {
    width: 102%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 4vh;
}

.education {
    min-height: 20vh;
    flex: 1 1 10rem;
    color: #ffb433;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 4rem;
    border-top-right-radius: 4rem;
    background: linear-gradient(145deg, #31303c, #3a3948);
    box-shadow: 20px 20px 52px #272731,
        -20px -20px 52px #454355;
    padding: 4vh;
    flex-direction: column;
    transition: all 0.8s ease;
}

.education:hover {
    border: 2px solid #ffb433;
}

#highersecondary {
    margin-left: 5vw;
    margin-right: 5vw;
}

.education>h2,
.education>h3 {
    color: #fff;
    text-align: center;
    font-family: 'Mooli', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
}

.eduContent {
    flex-direction: column;
    height: 8rem;
    width: 14rem;
    position: absolute;
    top: 110vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all 0.8s ease;
    z-index: -1;
    padding: 1.2rem;
}

.education:hover .eduContent {
    background: #ffb433;
    position: absolute;
    color: #000;
    top: 97vh;
    z-index: 1;
    border-radius: 1.2rem;
}

.educationContainer:hover>.education {
    margin-top: 8rem;
}

.eduContent>p {
    text-align: center;
    font-family: 'Noticia Text', serif;
}

#edu-p {
    font-family: 'Croissant One', cursive;
    font-size: 1.2rem;
}

#secondaryContainer {
    background: #282834;
    padding: 2vh 5vw 10vh 5vw;
}

.hackathonDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 20vh;
    flex-wrap: wrap;
}

.hackathon {
    height: 40vh;
    flex: 1 1 20rem;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 3vh;
    flex-direction: column;
    transition: all 0.8s ease;
    border: 2px solid #fff;
    margin-top: 3rem;
    border-radius: 2rem;
}

.hackathon:hover {
    margin-top: -3rem;
}

.hackathonDiv:hover>.hackathon:not(:hover) {
    margin-top: 8rem;
}

#ideathon {
    margin-left: 4vh;
    margin-right: 4vh;
}

.hackathon>h2 {
    color: #fff;
    margin-bottom: 1vh;
    font-family: 'Croissant One', cursive;
    text-transform: uppercase;
    background-color: #282834;
    border-radius: 2rem;
    padding: 4vh;
    margin-top: -9.5vh;
    margin-left: -10vw;
}

.hackathon>p {
    font-family: 'Noticia Text', serif;
    color: #fff;
    font-size: 0.95rem;
}

#projectDesc {
    margin-top: 1vh;
    margin-bottom: 2vh;
}

.cerLink {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: #ffb43379 0px 5px 15px;
    background: #ffb433;
    border-radius: 2rem;
    width: 50%;
}

.cerLink:hover {
    background: #ffb433aa;
    box-shadow: #ffb433c9 0px 5px 15px;
}

.cerLink>a {
    text-align: center;
    text-decoration: none;
    color: #000;
    margin: 0.4rem;
    font-family: 'Mooli', sans-serif;
    /* text-transform: uppercase; */
    font-size: 0.9rem;
    font-weight: 700;
}

@media screen and (max-width: 1024px) {
    html {
        font-size: 75%;
    }

    .imgContainer {
        width: 0;
        height: 0;
        display: none;
    }

    .eduContent {
        height: 8rem;
        width: 14rem;
        position: relative;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        transition: all 0.8s ease;
        z-index: 1;
        padding: 1.2rem;
    }
}

@media screen and (max-width: 768px) {
    html {
        font-size: 70%;
        overflow-x: hidden;
    }

    #mainContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0;
        margin: 6rem 0;
    }

    body {
        margin: 0;
        padding: 0;
    }

    .imgContainer {
        width: 0;
        height: 0;
        display: none;
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
    }

    .content {
        width: 90vw;
        display: flex;
        align-items: start;
        justify-content: center;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }

    .content>h1 {
        margin-bottom: 0rem;
        margin-top: 2rem;
    }

    .educationContainer {
        width: 100%;
        flex-direction: column;
        margin: -0.5rem 0 6rem 0;
        padding: 0;
        background: none;
        box-shadow: none;
    }

    .education {
        min-height: 20vh;
        width: 100%;
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom-left-radius: 4rem;
        border-top-right-radius: 4rem;
        padding: 0;
        flex-direction: column;
        margin: 2rem 0;
        background: linear-gradient(45deg, #2a2a32, #32323b);
        box-shadow: 5px -5px 10px #26262d,
            -5px 5px 10px #383841;
    }

    .educationContainer:hover>.education {
        margin-top: 2rem;
    }

    .education>h2 {
        margin: 2.5rem 1rem 0 1rem;
    }

    .eduContent {
        width: 75%;
        margin: 1rem 0;
        background: #cdcdcd;
        color: #24242f;
        border-radius: 1.2rem;
        margin-bottom: 2rem;
        top: 0;
        position: relative;
        z-index: 0;
    }

    .eduContent>p {
        font-size: 1.5rem;
    }

    .education:hover .eduContent {
        position: relative;
        color: #24242f;
        top: 0;
        z-index: 1;
        border-radius: 1.2rem;
        background: #cdcdcd;
    }

    #highersecondary {
        margin-left: 0;
        margin-right: 0;
    }

    #ideathon {
        margin-left: 0;
        margin-right: 0;
    }

    #secondaryContainer {
        padding: 0;
        margin-top: -3rem;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .hackathonDiv {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100%;
        flex-wrap: wrap;
    }

    .hackathon {
        height: 100%;
        flex: 1 1 20rem;
        display: flex;
        align-items: center;
        justify-content: start;
        padding: 3vh;
        flex-direction: column;
        transition: all 0.8s ease;
        border: 2px solid #fff;
        margin-top: 6rem;
        border-radius: 2rem;
    }

    #hackfest {
        margin-bottom: 12vh;
    }

    .hackathon:hover {
        margin-top: 6rem;
    }

    .hackathonDiv:hover>.hackathon:not(:hover) {
        margin-top: 6rem;
    }

    .hackathon>h2 {
        margin-left: 0;
    }

    .hackathon>h2 {
        display: flex;
        align-items: center;
        justify-self: center;
        margin-top: -8.5vh;
    }

    #myedu {
        margin-bottom: 0.8rem;
        margin-top: 4rem;
    }

    #about>svg {
        width: 3rem;
        height: 3rem;
    }
}