@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Croissant+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Metamorphous&family=Mina&family=Prosto+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noticia+Text&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    overflow: hidden;
}

.container {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: start;
    margin-top: 2rem;
    height: 100vh;
    background: #363543;
}

.content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #282834;
    padding: 5rem;
    border-radius: 2rem;
    border-radius: 2rem;
    background: #282834;
    box-shadow: 35px 35px 63px #101015,
        -35px -35px 63px #404053;
    margin-top: 2rem;
}

.contentDetails {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contentDetails>h1 {
    color: #ffb433;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 3.2rem;
}

.logo-div {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: start;
    margin-right: 12rem;
}

.logo-div>a {
    margin: 5rem 2rem 0 2rem;
    border-radius: 100%;
    background: linear-gradient(145deg, #24242f, #2b2b38);
    box-shadow: 5px 5px 10px #22222c,
        -5px -5px 10px #2e2e3c;
    width: 10vh;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.8s ease;
}

.logo-div>a>svg {
    width: 45vw;
    height: 4.5vh;
    color: #c4c3c3;
}

.logo-div>a:hover {
    box-shadow: 5px 5px 10px #ffb433c3,
        -5px -5px 10px #ffb433df;
}

.logo-div>a:hover svg {
    color: #ffb433;
}

.content-img>img {
    width: 18vw;
}

@media only screen and (min-width: 769px) and (max-width: 1362px) {
    html {
        font-size: 70%;
        overflow: hidden;
    }

    .content {
        width: 100%;
    }

    .logo-div {
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .logo-div>a {
        margin: 5rem 0 0 0;
        border-radius: 50%;
        background: linear-gradient(145deg, #24242f, #2b2b38);
        box-shadow: 5px 5px 10px #22222c,
            -5px -5px 10px #2e2e3c;
        width: 6vh;
        height: 6vh;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.8s ease;
    }

    .logo-div>a>svg {
        width: 5vw;
        color: #c4c3c3;
    }
}

@media screen and (max-width: 768px) {
    * {
        margin: 0;
        padding: 0;
    }

    html {
        font-size: 70%;
        overflow: hidden;
    }

    main {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin: 0;
    }

    body {
        margin: 0;
        padding: 0;
    }

    #mainContainer {
        margin: 0;
        padding: 0;
    }

    #contact>svg {
        width: 3rem;
        height: 3rem;
    }

    .content-img {
        display: none;
    }

    .container {
        width: 100%;
        align-items: start;
        justify-content: center;
    }

    .content {
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #282834;
        padding: 5rem;
        border-radius: 2rem;
        border-radius: 2rem;
        background: #282834;
        box-shadow: 35px 35px 63px #101015,
            -35px -35px 63px #404053;
        margin-top: 5rem;
        margin-bottom: 0;
    }

    .logo-div {
        width: 80vw;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-right: 0;
    }

    .logo-div>a {
        margin: 5rem 0 0 0;
        border-radius: 50%;
        background: linear-gradient(145deg, #24242f, #2b2b38);
        box-shadow: 5px 5px 10px #22222c,
            -5px -5px 10px #2e2e3c;
        width: 6vh;
        height: 6vh;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.8s ease;
    }

    .logo-div>a>svg {
        width: 5vw;
        color: #c4c3c3;
    }

    .contentDetails>h1 {
        text-align: center;
        font-size: 2.5rem;
        padding: 0 5rem;
    }
}