@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');

* {
    margin: 0;
    padding: 0;
}



header {
    display: flex;
    justify-content: center;
    align-items: center;
}

#mainContainer {
    background: #363543;
    padding: 2vh 6vw 10vh 6vw;
}



/* ************* ANIMATION FOR NEW PAGE *************** */

body {
    animation: newPageAnimation 1s linear forwards;
    background: #363543;
}

@keyframes newPageAnimation {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/******************************************************/

#mainContainer>header>nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 0.5vh;
}

.nav-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-div>img {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 0.3rem;
}

.nav-div>h1 {
    color: #fff;
    font-family: 'Mooli', sans-serif;
    font-size: 1.7rem;
}

#mainContainer>header>nav>ul {
    display: flex;
}

#mainContainer>header>nav>ul>li {
    margin-left: 3vw;
    list-style: none;
    color: #fff;
    font-family: 'Mooli', sans-serif;
    font-size: 1rem;
    transition: all 0.4s ease;
}

#link {
    text-decoration: none;
    color: #fff;
}

@media screen and (max-width: 768px) {
    * {
        margin: 0;
        padding: 0;
    }
    
    body {
        animation: none;
        transition: all 0.8s ease;
    }

    header {
        width: 0;
        height: 0;
        display: none;
        margin: 0;
        padding: 0;
    }

    #mainContainer {
        margin: 0;
        padding: 0;
    }
}